## Day 21 Lecture 2 Assignment

In this assignment, we will apply techniques for identifying and dealing with outliers to a dataset containing information about Uber rides.

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
uber_data = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/uber_rides.csv')

In [0]:
uber_data.head()

                           trip_uid  trip_time  ...  cloudness  trip_time_min
0  ee89076fd9da9bddf5f096b0ca42f8d5  21.550000  ...       0.78      21.550000
1  518be51d403944a03c47e8d1f2c87311  19.450000  ...       0.66      19.450000
2  6e460cc8a12c3c6568d0d4a67ac58393  66.883333  ...       0.86      66.883333
3  49613a86a04e6c15d72b51d1a2935d81  13.616667  ...       0.56      13.616667
4  9896148fdecdb4c5d977a8691510bdb6  38.900000  ...       0.31      38.900000

[5 rows x 13 columns]

Before we identify outliers in the given columns, we need to address three time columns (trip_time, total_time, and wait_time), which are provided as formatted strings (HH:MM:SS) instead of numeric values. Convert the values in these three columns into their numeric equivalents in minutes - "2:15" should be converted to "2.25", "1:22:30" should be converted to "82.5", and so on. You may find it helpful to write a function that does this and use the .apply() function to apply it to all of the necessary columns.

In [0]:
## answer goes here
# trip_time_min = []
# for i in range(uber_data.shape[0]):
#   min = int(uber_data.trip_time[i][0])*60 + int(uber_data.trip_time[i][2:4]) + int(uber_data.trip_time[i][5:7])/60
#   trip_time_min.append(min)
# uber_data['trip_time_min'] = trip_time_min

uber_data['trip_time'] = uber_data['trip_time'].apply(lambda x: int(x[0:1])*60 + int(x[2:4]) + int(x[5:7])/60)
uber_data['total_time']= uber_data['total_time'].apply(lambda x: int(x[0:1])*60 + int(x[2:4]) + int(x[5:7])/60)
uber_data['wait_time']= uber_data['wait_time'].apply(lambda x: int(x[0:1])*60 + int(x[2:4]) + int(x[5:7])/60)
uber_data.head()

#uber_data[['trip_time','total_time']] = uber_data[['trip_time','total_time']].map(lambda x: int(x[0:1])*60 + int(x[2:4]) + int(x[5:7])/60)

                           trip_uid  trip_time  ...  wind_speed  cloudness
0  ee89076fd9da9bddf5f096b0ca42f8d5  21.550000  ...        4.81       0.78
1  518be51d403944a03c47e8d1f2c87311  19.450000  ...        6.53       0.66
2  6e460cc8a12c3c6568d0d4a67ac58393  66.883333  ...        5.25       0.86
3  49613a86a04e6c15d72b51d1a2935d81  13.616667  ...        0.87       0.56
4  9896148fdecdb4c5d977a8691510bdb6  38.900000  ...        1.61       0.31

[5 rows x 12 columns]

In [0]:
uber_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_uid           678 non-null    object
 1   trip_time          678 non-null    float64
 2   total_time         678 non-null    float64
 3   wait_time          678 non-null    float64
 4   price_rub          678 non-null    object
 5   price_usd          678 non-null    float64
 6   distance_kms       678 non-null    float64
 7   temperature_value  678 non-null    int64
 8   feels_like         678 non-null    int64
 9   humidity           678 non-null    float64
 10  wind_speed         678 non-null    float64
 11  cloudness          678 non-null    object
dtypes: float64(7), int64(2), object(3)
memory usage: 63.7+ KB

Plot histograms for each of the column, excluding the trip ID. Which features appear to have outliers? What do you suspect the nature of these outliers is (i.e. do you think these are most likely data errors, or correct values that are simply unusually large or small?)

In [0]:
# answer goes here

Using Tukey's IQR method and a threshold value of 1.5, how many trips have trip_time values that are identified as outliers? Print these trips out.

In [0]:
# answer goes here

There are various ways of handling outliers, including "clipping" (also called "winsorizing"). Clip the outliers to the appropriate upper/lower threshold calculated as part of Tukey's method. Plot the histogram for trip_time after clipping; how does it look different?

In [0]:
# answer goes here