In [59]:
import pandas as pd
import numpy as np

In [3]:
dftrain = pd.read_csv('/Users/robholmstrom/Downloads/11167_15520_bundle_archive/train.csv')
dftest = pd.read_csv('/Users/robholmstrom/Downloads/11167_15520_bundle_archive/test.csv')

In [105]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [18]:
X_train = dftrain.drop('price_range', axis = 1)
y_train = dftrain['price_range']
# X_test = dftest.drop('price_range', axis = 1)
# y_test = dftest['price_range']
X_train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [31]:
from sklearn.svm import SVC
from sklearn.feature_selection import RFE
import matplotlib.pyplot as plt

# Load the digits dataset



# Create the RFE object and rank each pixel
svc = SVC(kernel="linear", C=.01)
rfe = RFE(estimator=svc, n_features_to_select=1, step=1)
rfe.fit(X_train, y_train)
ranking = rfe.ranking_

# # Plot pixel ranking
# plt.matshow(ranking, cmap=plt.cm.Blues)
# plt.colorbar()
# plt.title("Ranking of pixels with RFE")
# plt.show()

In [108]:
ranking

array([14, 19,  5,  4,  9,  3, 11, 18, 12,  1, 10, 16, 15, 13,  2,  8,  6,
       20, 17,  7])

In [106]:
X_train.columns.shape
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
dtypes: float64(2), int64(18)
memory usage: 312.6 KB

In [60]:
rank = np.array([i for i in range(0,ranking.shape[0])])
rank.shape

(20,)

In [62]:
ranking.shape

(20,)

In [93]:
df = pd.DataFrame()
df['rfenames']=X_train.columns
df['index'] = rank
pd.DataFrame(df, columns = ['index', 'rfenames'])

    index       rfenames
0       0  battery_power
1       1           blue
2       2    clock_speed
3       3       dual_sim
4       4             fc
5       5         four_g
6       6     int_memory
7       7          m_dep
8       8      mobile_wt
9       9        n_cores
10     10             pc
11     11      px_height
12     12       px_width
13     13            ram
14     14           sc_h
15     15           sc_w
16     16      talk_time
17     17        three_g
18     18   touch_screen
19     19           wifi

In [94]:
dfrfe = pd.DataFrame()
dfrfe['index'] = ranking
dfrfe['rank']= rank
pd.DataFrame(dfrfe, columns = ['rank', 'index'])

    rank  index
0      0     14
1      1     19
2      2      5
3      3      4
4      4      9
5      5      3
6      6     11
7      7     18
8      8     12
9      9      1
10    10     10
11    11     16
12    12     15
13    13     13
14    14      2
15    15      8
16    16      6
17    17     20
18    18     17
19    19      7

In [95]:
dfmerge = pd.merge(dfrfe, df, on = 'index')
dfmerge

    index  rank      rfenames
0      14     0          sc_h
1      19     1          wifi
2       5     2        four_g
3       4     3            fc
4       9     4       n_cores
5       3     5      dual_sim
6      11     6     px_height
7      18     7  touch_screen
8      12     8      px_width
9       1     9          blue
10     10    10            pc
11     16    11     talk_time
12     15    12          sc_w
13     13    13           ram
14      2    14   clock_speed
15      8    15     mobile_wt
16      6    16    int_memory
17     17    18       three_g
18      7    19         m_dep

In [104]:
from sklearn.feature_selection import SelectKBest, f_classif, f_regression, mutual_info_regression

k = 3
kbest = SelectKBest(k=k, score_func=f_classif)
X_best_feat = kbest.fit_transform(X_train,y_train)
X_train.columns
X_best_feat = pd.DataFrame(X_best_feat, columns=X_train.columns[kbest.get_support()])

X_best_feat.columns

Index(['battery_power', 'px_width', 'ram'], dtype='object')