## Day 46 Lecture 1 Assignment

In this assignment, we will calculate a distance matrix for geographical Starbucks data and use it to identify locations that are close together and far apart. We will perform clustering on this dataset later on.

We will be using the "haversine" package to compute geographical distance. It can be pip installed.

In [1]:
!pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/72/8e/6df8b563dd6b2961a36cd740b34c00b89142f1b97d92092c133379b2973f/haversine-2.2.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.2.0

In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from haversine import haversine

In [4]:
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/starbucks_locations.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25600 entries, 0 to 25599
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           25600 non-null  object
 1   Store Number    25600 non-null  object
 2   Store Name      25600 non-null  object
 3   Ownership Type  25600 non-null  object
 4   Street Address  25598 non-null  object
 5   City            25585 non-null  object
 6   State/Province  25600 non-null  object
 7   Country         25600 non-null  object
 8   Postcode        24078 non-null  object
 9   Phone Number    18739 non-null  object
 10  Timezone        25600 non-null  object
 11  Longitude       25599 non-null  float64
 12  Latitude        25599 non-null  float64
dtypes: float64(2), object(11)
memory usage: 2.5+ MB

In [16]:
df.head(3)

       Brand  Store Number  ... Longitude Latitude
0  Starbucks  47370-257954  ...      1.53    42.51
1  Starbucks  22331-212325  ...     55.47    25.42
2  Starbucks  47089-256771  ...     55.47    25.39

[3 rows x 13 columns]

Below is a convenience function for calculating geographical distance matrices using lat-long data.

In [17]:
def geo_sim_matrix(df, col_name = 'Coordinates'):
    """
    A function that computes a geographical distance matrix (in miles).
    Each row in the dataframe should correspond to one location.
    In addition, the dataframe must have a column containing the lat-long of each location as a tuple (i.e. (lat, long)).
    
    Parameters:
        df (pandas dataframe): an nxm dataframe containing the locations to compute similarities between.
        col (string): the name of the column containing the lat-long tuples.
        
    Returns:
        distance (pandas dataframe): an nxn distance matrix between the geographical coordinates of each location.
    """
    
    df = df.copy()
    df.reset_index(inplace=True)
    haver_vec = np.vectorize(haversine, otypes=[np.float32])
    distance = df.groupby('index').apply(lambda x: pd.Series(haver_vec(df[col_name], x[col_name])))
    distance = distance / 1.609344  # converts to miles
    distance.columns = distance.index
    
    return distance

This dataset contains the latitude and longitude (as well as several other details we will not be using) of every Starbucks in the world as of February 2017. Each row consists of the following features, which are generally self-explanatory:

- Brand
- Store Number
- Store Name
- Ownership Type
- Street Address
- City
- State/Province
- Country
- Postcode
- Phone Number
- Timezone
- Longitude
- Latitude

Load in the dataset.

In [ ]:
# answer goes here

Begin by narrowing down the dataset to a specific geographic area of interest. Since we will need to manually compute a distance matrix, which will be on the order of $n^{2}$ in terms of size, we would recommend choosing an area with 3000 or less locations. In this example, we will use Hawaii, which has about 100 locations; for reference, California has about 2800 locations. Feel free to choose a different region that is of more interest to you, if desired.

Subset the dataframe to only include records for Starbucks locations in Hawaii.

In [109]:
# answer goes here
dfhi = df.loc[df['State/Province']=='HI', :]
dfhi.head(2)

           Brand Store Number  ... Longitude Latitude
17202  Starbucks  21034-73360  ...   -157.93    21.38
17203  Starbucks  21053-99755  ...   -157.93    21.37

[2 rows x 13 columns]

In [110]:
df.head(2)

       Brand  Store Number  ... Longitude Latitude
0  Starbucks  47370-257954  ...      1.53    42.51
1  Starbucks  22331-212325  ...     55.47    25.42

[2 rows x 13 columns]

In [111]:
dfhi['Coordinates'] = dfhi[['Latitude', 'Longitude']].apply(tuple, axis=1)
dfhi.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

           Brand  Store Number  ... Latitude       Coordinates
17202  Starbucks   21034-73360  ...    21.38  (21.38, -157.93)
17203  Starbucks   21053-99755  ...    21.37  (21.37, -157.93)
17204  Starbucks   21006-10033  ...    21.38  (21.38, -157.94)
17205  Starbucks   21005-10034  ...    21.39  (21.39, -157.94)
17206  Starbucks  21063-101700  ...    21.39  (21.39, -157.95)

[5 rows x 14 columns]

The haversine package takes tuples with 2 numeric elements and interprets them as lat-long to calculate distance, so add a new column called "Coordinates" that converts the lat and long in each row into a tuple. In other words, the last two columns of the dataframe should initially look like this:

**Latitude, Longitude**  
-121.64, 39.14  
-116.40, 34.13  
...

After adding the new column, the last three columns should look like this:

**Latitude, Longitude, Coordinates**  
-121.64, 39.14, (-121.64, 39.14)  
-116.40, 34.13, (-116.40, 34.13)  
...

In [127]:
# answer goes here
dfdist = geo_sim_matrix(dfhi, col_name = 'Coordinates')

dfdist.head(2)

index     17202     17203     17204  ...     17298     17299     17300
index                                ...
17202  0.000000  0.690934  0.643386  ...  5.329021  5.675488  6.470637
17203  0.690934  0.000000  0.944121  ...  5.548625  6.120771  6.580589

[2 rows x 99 columns]

Calculate the distance matrix using the starter code/function geo_sim_matrix() provided earlier in the notebook. It assumes the column containing the coordinates for each location is called "Coordinates". Examine the docstring for more details.

Note: the latitude and longitudes provided only go out to two decimal places, which limits the resolution of the distance calculations to about 0.5 miles. Distances that are very small may not be accurately represented here (e.g. several instances of "0 distance" for distinct Starbucks locations in very close proximity).

In [128]:
# answer goes here

For each Starbucks, identify its nearest neighboring location in Hawaii (and presumably in the world). Save the output to a dataframe with three columns: Location, Nearest Neighbor, and Distance (Miles).

In [129]:
dfdist.columns[np.argmin(dfdist.drop(17202, axis = 1).loc[17202, :])]
dfdist.columns[1]

17203

In [149]:
# answer goes here
minimum = []
nearestneighbor = []
for x in dfdist.index:
  minimum.append(dfdist.drop(x, axis = 1).loc[x,:].min())
  nearestneighbor.append(dfdist.columns[np.argmin(dfdist.drop(x, axis = 1).loc[x, :])])

dfsb = pd.DataFrame()  
dfsb['location'] = dfdist.index
dfsb['distance'] = minimum
dfsb['nearest neighbor'] = nearestneighbor
dfsb
print(dfsb.head(2))
dfhi.head(2)

   location  distance  nearest neighbor
0     17202  0.643386             17203
1     17203  0.690934             17202

           Brand Store Number  ...       Coordinates location
17202  Starbucks  21034-73360  ...  (21.38, -157.93)    17202
17203  Starbucks  21053-99755  ...  (21.37, -157.93)    17203

[2 rows x 15 columns]

If the nearest neighbor of a Starbucks location is far away, we could consider that Starbucks to be "on an island". Which five Starbucks in Hawaii are the most "on an island"?

In [153]:
# answer goes here
#dfsb.sort_values(by= 'distance', ascending= False)[['location', 'distance']].head(5)
#dfsb.reset_index('index')
dfhi['location']= dfhi.index
dfhi.head(2)
dfmerge = pd.merge(dfsb,dfhi, on = 'location')
dfmerge.sort_values(by = 'distance', ascending = False).head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    location   distance  ...  Latitude       Coordinates
65     17267  15.612447  ...     20.02  (20.02, -155.67)
93     17295  15.612447  ...     19.91  (19.91, -155.88)
76     17278   8.059888  ...     21.88  (21.88, -159.46)
89     17291   7.322419  ...     20.84  (20.84, -156.34)
92     17294   6.739833  ...     21.44  (21.44, -158.18)

[5 rows x 17 columns]